<script src="../app.module.ts"></script>
<div class="container">
  <!-- Note menu -->
  <div class="row" style="margin-top:12px;">
    <div class="col-md-8">
      <input type="text"
             class="form-control"
             style="width: 100%;"
             placeholder="Search notes..."
             [(ngModel)]="searchStr"
      >
    </div>
    <div class="col-md-4">
      <button type="buton"
              (click)="createNotebook()"
              class="btn btn-info pull-right"
              style="margin-left:12px;"><i class="fa fa-plus"></i> New notebook
      </button>
      <button type="button"
              (click)="createNote(selectedNotebook.id)"
              [disabled]="selectedNotebook == null"
              class="btn btn-warning pull-right"
              style="margin-left:12px;"><i class="fa fa-plus"></i> New note
      </button>
    </div>
  </div>

  <!-- Share menu -->
  <div class="row" style="margin-top:12px;">
    <div class="col-md-8">
      <input type="text"
             class="form-control"
             style="width: 100%;"
             placeholder="Search user by username to share..."
             [(ngModel)]="searchUsername"
             [disabled]="selectedNotebook == null"
      >
    </div>
    <div class="col-md-4">
      <button type="buton"
              (click)="sharedWithUser()"
              [disabled]="selectedNotebook == null"
              class="btn btn-info pull-right"
              style="margin-left:12px;"><i class="fa fa-plus"></i> Shared "{{state}}" notebook
      </button>
    </div>
  </div>

  <!-- Note content -->
  <div class="row" style="margin-top: 28px;">
    <!-- Notebooks Menu -->
    <div class="col-md-3">
      <br>
      <div class="list-group list-group-flush">
        <a (click)="selectAllNotebook()" class="list-group-item list-group-item-action">
          <i class="fa fa-book"></i>&nbsp;All notes
          <i class="fa fa-arrow-right pull-right"></i>
        </a>
        <a (click)="selectFavNotesNotebook()" class="list-group-item list-group-item-action">
          <i class="fa fa-book"></i>&nbsp;Favorite notes<i class="fa fa-star pull-right"></i>
        </a>
<!--         Notebook List -->
        <app-notebook *ngFor="let n of notebooks"
                      (click)="selectNotebook(n)"
                      [notebook]="n"
                      (notebookDeleted)="deleteNotebook($event)"
                      (notebookUpdated)="updateNotebook($event)"
                      class="list-group-item list-group-item-action">
        </app-notebook>
      </div>
    </div>

    <!-- Notes Panel -->
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <!-- Message if there are no notes -->
          <h3>{{ state }}</h3>
          <div class="alert alert-danger"
               role="alert"
               style="width: 50%;"
               *ngIf="this.notes.length === 0">
            <p>-There are no notes to display in the notebook :(</p>
          </div>
        </div>
      </div>
      <div *ngIf="this.notes.length != 0" class="row">
        <!-- Note list -->
        <app-note *ngFor="let n of notes | search: searchStr"
                  [note]="n"
                  (noteUpdated)="updateNote($event)"
                  (noteDeleted)="deleteNote($event)"
                  (noteSetFavorites)="setFavorite($event)"
        ></app-note>

      </div>
    </div>
  </div>
</div>
